[Unit]
Description=Attaches USB Gadget to USB Controller
After=setup-gadget-dev.service
Requires=setup-gadget-dev.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/attach-gadget-dev.sh
RemainAfterExit=yes

# Restart policy: always restart to ensure resilience
Restart=always
RestartSec=2

# Disable restart rate limiting
StartLimitIntervalSec=0

StandardOutput=journal+console
StandardError=journal+console

ExecStop=/sbin/ip addr flush dev usb0

[Install]
WantedBy=multi-user.target
