[Unit]
Description=Attach gadget to UDC (bind) and fix endpoint perms
After=setup-gadget-dev.service ffs_registrar.service
Requires=ffs_registrar.service

[Service]
Type=exec
ExecStartPre=/usr/bin/udevadm settle --timeout=5
ExecStart=/usr/local/bin/attach-gadget.sh
RemainAfterExit=no
Restart=always
RestartSec=1
StartLimitIntervalSec=0

StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target